html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

header {width:100%; height:auto; background-color: antiquewhite; color:rgb(80, 74, 74);display:flex; flex-direction: column;
    align-items: center; justify-content: center;}
h1 {font-size: 100px;}
h5 {font-size: 50px; margin-left:250px;padding-bottom: 10px; margin-top: -30px; }
#menuBar {width:70%;height:50px;display:flex; flex-direction: row;justify-content: space-around;
	font-size: 40px;}
#home:hover {text-decoration: underline;}
#menu:hover {text-decoration: underline;}	
#contact:hover {text-decoration: underline;}
#content {width:500px;height:auto; margin-left:auto; margin-right:auto;padding-top:50px; display:flex; flex-direction: row; justify-content: space-between;}
#choco {width:500px; height:300px;}
#footer {position: absolute; bottom:0; background-color: antiquewhite; color: rgb(80, 74, 74);
    width:100%; height:50px; display: flex; justify-content: space-between; align-items: center; }
.menuPage {margin-top:-30px;width:100%; height:auto; display:flex; flex-direction:column;  color:rgb(80, 74, 74);font-size: 20px; text-align: center;}
.map {width:40%; height:auto;}
.contactBox {width:60%; height:100%;display:flex; flex-direction: column; justify-content: space-evenly; text-align:center; margin: 10px; font-size: 20px; color:rgb(80, 74, 74)}
p {padding-top: 5px;}
a {color:rgb(80, 74, 74);margin-left: 50px; margin-right: 50px;text-decoration: none;}
